body {margin:0;font-family:Arial;background:#f4f4f4}
nav{background:#1e272e;color:white;padding:15px;display:flex;justify-content:space-between}
.menu{cursor:pointer;position:relative}
.dropdown{display:none;position:absolute;right:0;background:white}
.menu:hover .dropdown{display:block}
.dropdown a{display:block;padding:10px;color:black;text-decoration:none}

.hero{
  background:url('https://images.unsplash.com/photo-1501785888041-af3ef285b470') center/cover;
  height:300px;color:white;text-align:center;padding-top:120px
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;padding:20px
}

.product{
  background:white;
  padding:10px;
  border-radius:10px;
  text-align:center
}

.product img{
  width:100%;
  height:150px;
  object-fit:cover;
  border-radius:8px
}

button{
  background:#27ae60;
  color:white;
  border:none;
  padding:10px;
  border-radius:5px;
  cursor:pointer
}

.cart-box,.checkout-form{
  background:white;
  max-width:400px;
  margin:30px auto;
  padding:20px;
  border-radius:10px;
  text-align:center
}

input,select{width:100%;padding:10px;margin:8px 0}
.thanks{text-align:center;padding:100px}
